.client_sidebar-professional {
  @apply bg-teal-100/60 dark:bg-zinc-900 dark:text-gray-50  flex flex-col justify-between transition-all duration-300 ease-in-out;
  width: 14rem;
  height: 100vh; /* Limita a viewport */
  position: sticky;
  top: 0;
}

.client_sidebar-professional.collapsed {
  width: 4rem;
}

.client_sidebar-professional nav {
  @apply flex flex-col space-y-2 p-4;
}

.client_sidebar-link {
  @apply flex items-center gap-3 p-2 rounded-md text-gray-800 dark:text-gray-200 hover:bg-teal-300 dark:hover:bg-zinc-700 transition-all duration-200 overflow-hidden;
}

.client_sidebar-link.active {
  @apply bg-teal-400 dark:bg-teal-600 font-semibold;
}

.client_sidebar-link .icon {
  @apply text-lg min-w-[1.5rem];
}

.client_sidebar-link .label {
  @apply whitespace-nowrap overflow-hidden transition-all duration-300;
}

.client_sidebar-footer {
  @apply flex items-center gap-3 transition-all duration-300  pl-2;
}

.client_notification-button {
  @apply bg-transparent border-0 cursor-pointer text-inherit p-0 flex items-center hover:text-teal-600 dark:hover:text-teal-400;
}
